UAluno/app/xml_files/departments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="departamentos" type="departamentosType" />
    <xs:complexType name="departamentosType">
        <xs:sequence>
            <xs:element name="item" type="itemType" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="itemType">
        <xs:sequence>
            <xs:element name="guid" type="xs:string"/>
            <xs:element name="nome" type="xs:string" />
            <xs:element name="sigla" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>