UAluno/app/xml_files/grades.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="students" type="studentsType" />
    <xs:complexType name="studentsType">
        <xs:sequence>
            <xs:element name="student" minOccurs="0" maxOccurs="unbounded" type="studentType"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="studentType">
        <xs:sequence>
            <xs:element name="course" minOccurs="0" maxOccurs="unbounded" type="courseType" ></xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="courseType">
        <xs:sequence>
            <xs:element name="grade" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="ects" type="xs:string" />
        <xs:attribute name="area" type="xs:string" />
        <xs:attribute name="year" type="xs:string" />
        <xs:attribute name="semester" type="xs:string" />
    </xs:complexType>
</xs:schema>